body, html, footer, input, div {
    font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    display: block;
    margin: 0px;
}

div.bounded-container {
    width: 320px;
    height: 410px;
    background-color: grey;
}

/* Discussion:
    The width and Height dimensions are fixed so that internal scrolling will work.
    Using Media queries is one way to do this only you will two for each device type.
    Or you can use Javascript triggered by orientation change.
    Media queries inspired by: https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
*/
/* target iPhone 5 */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    div.bounded-container {
        width: 320px;
        height: 568px;
        background-color: grey;
    }
}

/* target iPhone 5 */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    div.bounded-container {
        width: 568px;
        height: 320px;
        background-color: grey;
    }
}

/* Galaxy S5 but not working as yet */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
    div.bounded-container {
        width: 360px;
        height: 640px;
        background-color: grey;
    }

}

/* Galaxy S5 but not working as yet */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
    div.bounded-container {
        width: 640px;
        height: 360px;
        background-color: grey;
    }

}


div.label_container {
    display: inline-block;
    min-width: 100px;
    padding-left: 10px;
    color: blue;
}

input.field_spacing {
    margin: 5px;
    width: 165px;
}

input.align_right {
    margin-top: 5px;
    margin-right: 8px;
    float: right;
}

div.page_outline {
    background-color: gainsboro;
    margin: 15px;
    padding-left: 15px;
    padding-right: 40px;
    padding-bottom: 20px;
    max-width: 293px;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: mediumblue;
}

div.panel_header {
    font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    height: 15%;
    padding-top: 5px;
}
div.panel_body{
    height: 85%;
    overflow-y: auto;
    }

div.panel_title {
    font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 10px;
    color: darkgreen;
    display: inline-block;
    width: 75%;
    margin: 3px;
    background-image: inherit;
} 
a.panel_add{
    font: 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: darkgreen;
    padding-top: 10px;
    padding-right: 10px;
}

button.panel_right{
    float: right;
}
a.panel_left{
    float: left;
}
a.panel_navigate {
    font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: darkgreen;
    padding: 10px;
}
div.panel_label {
    color: darkblue;
    display: inline-block;
    width: 70px;
}
div.panel_label_long {
    color: darkblue;
    display: inline-block;
    width: 230px;
}

div.panel_value {
    color: black;
    display: inline-block;
    font-weight: 200;
}


div.panel {
    height: 100%;
    text-decoration:none;
    font:18px Arial, Helvetica, sans-serif;
    font-weight:bold;
    color: white;
    background-color:#c4b180;
    background-image: -moz-linear-gradient(top, #c4b180 0%, #aac9d4 100%);
    background-image: -webkit-linear-gradient(top, #c4b180 0%, #aac9d4 100%);
    background-image: -o-linear-gradient(top, #c4b180 0%, #aac9d4 100%);
    background-image: -ms-linear-gradient(top, #c4b180 0%, #aac9d4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aac9d4', endColorstr='#aac9d4', GradientType=0);
    background-image: linear-gradient(top, #c4b180 0%, #aac9d4 100%);
    opacity:0.78;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=78);
    filter: alpha(opacity=78);
    }


div.item {
    display: block;
    border:solid 1px darkgreen;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 5px;
    color: darkgreen;
    font: 18px Arial, Helvetica, sans-serif;
    margin: 3px;
    font-weight: 300;
    background-image: inherit;
}
div.item:hover{
    border:solid 1px white;
}
div.subItem {
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: inherit;
}
